.h1index{
    color: $naranja;
}

.bodyIndex{
    background-color: $negro;
}

.footer{
    background-color: $negro;
    color: $naranja;
    width: 100%;
    height: 85px;
}

.bodyCarrito{
    background-color: $blanco2;
}