.card{
    background-color: $naranja;
    transition: all 1.5s;
    border-radius: 20px;
    .card-img-top {
        width: 100%;
        height: 40vh;
        object-fit: cover;
        border: solid 1px $negro;
        border-radius: 25px;
    }

}
.card:hover{
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}


